@charset 'UTF-8';

*{
    padding: 0;
    margin: 0;
    border: 0;
}
/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700&display=swap'); /* PADRÃO */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap'); /* TÍTULOS */

:root {
    /* https: //paletton.com/#uid=13s0u0kpeqrfozzkqsXs1lqwngy */
    --cor1: #5D92AC; /* MAIS CLARA */
    --cor2: #397592;
    --cor3: #216585;
    --cor4: #124F6C;
    --cor5: #043953; /* MAIS ESCURA */
    --fontepadrao: 'Source Code Pro', monospace;
    --fontetitulos:'Montserrat', sans-serif;
}

body {

    background-color: var(--cor5);
    color: white;

    font-family: var(--fontepadrao);
    line-height: 1.6em;
    
}

header {
    min-height: 150px;
    padding-bottom: 5px;
}

header h1 {
    padding: 40px 20px 0px 20px;
    
    font-family: var(--fontetitulos);
    font-size: 2.4em;
    text-align: center;
    text-shadow: 1px 1px 3px black;

    line-height: 35px;
}

header p {
    padding: 10px 20px;

    font-size: 1.2em;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

main {
    background-color: var(--cor4);

    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;

}

main h1 {
    padding-bottom: 15px;

    text-align: center;
    font-size: 2.3em;
}

main p {
    
    text-align: justify;
    text-indent: 20px;
    
}
